* {
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}

html {
    font-size: 10px;
}

body {
    max-width: 1440px;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    background-color: hsl(185, 75%, 39%);

}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.profile-card {
    position: relative;
    width: 35rem;
    background-color: #fff;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card__profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card__photo-circle {
    display: block;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%);
    width: 11rem;
    height: 11rem;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.profile-card__photo {
    position: relative;
    top: 7px;
    left: 7px;
    border-radius: 50%;
}

.profile-card__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 7rem;
}

.profile-card__name {
    font-weight: 700;
    margin-right: 1rem;
    letter-spacing: 0.5px;
}

.profile-card__age {
    color: hsl(227, 10%, 46%);
}

.profile-card__city {
    color: hsl(227, 10%, 46%);
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.divider {
    width: 100%;
    border: solid 0.5px hsl(0, 0%, 59%);
    opacity: 10%;
    margin: 2.5rem 0;
}

.profile-card__statistic {
    display: flex;
    justify-content: space-between;
}

.profile-card__statistic-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6rem;
}

.profile-card__statistic :last-child {
    margin-right: 0;
}

.profile-card__number {
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.profile-card__mention {
    color: hsl(227, 10%, 46%);
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 2.2rem;
}

.bg-circle-top {
    position: absolute;
    top: -55%;
    left: -20%;
}

.bg-circle-bottom {
    position: absolute;
    top: 50%;
    right: -10%;
}

@media (max-width:768px) {
    .bg-circle-top {
        position: absolute;
        top: -85%;
        left: -200%;
    }

    .bg-circle-bottom {
        position: absolute;
        top: 50%;
        right: -200%;
    }
}